 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" width="85%" /></a>
                </li>
                <div class="text-center text-default">
                    Esse site é resultado do minicurso: "O que o Twitter está pensado? Extraindo informações em redes sociais
                    utilizando Python". Maiores informações sobre este minicurso pode ser encontrado no site:
                    <a href="http://www.data2learning.com" target="_blank">www.data2learning.com</a>
                </div>
            </ul>
        </div>
<!-- /#sidebar-wrapper -->